* {
    font-family: 'Wix Madefor Display', sans-serif;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    background: url('img/bg.jpg') no-repeat; /* background: url('img/bg.jpg') no-repeat rgba(0, 0, 0, 0.55); background-blend-mode: multiply;*/
    background-size: cover;
    background-position: center;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.fixed-top.scrolled {
    background-color: rgba(0, 0, 0, 0.75) !important;
    transition: background-color 200ms linear;
}
