* {
    font-family: 'Wix Madefor Display', sans-serif;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    background: url('./img/bg.jpg') no-repeat; /* background: url('img/bg.jpg') no-repeat rgba(0, 0, 0, 0.55); */
    background-size: cover;
    background-position: center;
}
